#wrap{
  width: 900px;
  margin: 0 auto;
}

#menu {
  height: 30px;
  width: 900px;
}

#menu ul li{
  list-style: none;
  color: white;
  background-color: #339966;
  float: left;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}

#menu ul li a{
  text-decoration: none;
  color: white;
  display: block;
  width: 215px;
}
