<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">

  <title>{% block title %} First Website {% endblock %}</title>
</head>

<body>
  <div id="wrap">
    <nav id="menu">
      <ul>
        <li><a href="/">Home</a><li>
        <li><a href="#">MENU1</a><li>
        <li><a href="#">MENU2</a><li>
        <li><a href="#">MENU3</a><li>
      </ul>
    </nav>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
